<section class="new-offer">
    <div class="container">
        <h2 class="header">Złoż ofertę</h2>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <md-input-container>
                        <label translate="Name"></label>
                        <input ng-model="offer.name">
                    </md-input-container>

                    <md-input-container>
                        <label translate="Email address"></label>
                        <input ng-model="offer.email">
                    </md-input-container>

                    <md-input-container>
                        <label translate="Technology"></label>
                        <md-select ng-model="offer.technologies">
                            <md-option ng-value="Other"><em translate="Other"></em></md-option>
                            <md-option ng-repeat="technology in technologies" ng-value="technology.value">
                                {{ technology.label }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label translate="Message"></label>
                        <textarea ng-model="offer.message"></textarea>
                    </md-input-container>

                    <md-input-container>
                        <label translate="What is a diffrence beetween Java and Javacript ?"></label>
                        <textarea ng-model="offer.question"></textarea>
                    </md-input-container>

                    <md-slider-container>
                        <span>Money[zł]</span>
                        <md-slider flex min="5000" max="12000" ng-model="color.red" aria-label="red" id="red-slider"></md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
                        </md-input-container>
                    </md-slider-container>

                    <button class="md-raised md-primary md-button md-ink-ripple" type="button">
                        <span class="ng-scope" translate="Send"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>