section.about h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block;
    position: relative;
    padding-bottom: 20px;
    margin-top: 40px;
    text-transform: uppercase;
    line-height: 55px
}

section.about h2:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 2px;
    background-color: #15A0CF;
    left: 50%;
    margin-left: -10%;
}

section.about p{
    width: 60%;
    display: block;
    text-align: justify;
    margin: 0 auto;
    font-size: 26px;
}