.contact h2.header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block;
    position: relative;
    padding-bottom: 20px;
    margin-top: 40px;
    text-transform: uppercase;
    line-height: 55px
}

.contact h2.header:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: #15A0CF;
    left: 50%;
    margin-left: -25%;
}


md-input-container{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

md-input-container:not(.md-input-invalid).md-input-focused label,
md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    color: #15A0CF;
    border-color: #15A0CF;
}

button.md-button, .md-button.md-primary.md-raised,
.md-button.md-primary.md-raised:not([disabled]):hover{
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
    background-color: #15A0CF;
}