.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    background-color: transparent;
    font-weight: bold;
    border-bottom: 3px solid rgb(122,18,128);
}


.navbar-default{
    background-color: transparent;
    border: 0;
    padding-top: 45px;
}



header, .trans{
    -webkit-animation: marginTo 1s;
    -moz-animation: marginTo 1s;
    -ms-animation: marginTo 1s;
    -o-animation: marginTo 1s;
    animation: marginTo 1s;
    animation-timing-function: linear;
}

header nav li img{
    height: 30px;
    width: auto;
    cursor: pointer;
}

header h1 a.navbar-brand{
    font-size: 22px;
    font-weight: bold;
}

header h1{
    margin: 0;
}


header li.last{
    font-weight: bold;
    font-size: 20px;
}

header nav ul li{
    margin-left: 20px;
}

header nav ul li a{
    text-transform: uppercase;
}

#main{
    opacity: 0;
    -webkit-animation: fadein 2s forwards;
    -moz-animation: fadein 2s forwards;
    -ms-animation: fadein 2s forwards;
    -o-animation: fadein 2s forwards;
    animation: fadein 2s forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes marginTo {
    from { margin-top: -100px; }
    to   { margin-top: 0; }
}

@-moz-keyframes marginTo {
    from { margin-top: -100px; }
    to   { margin-top: 0; }
}

@-webkit-keyframes marginTo {
    from { margin-top: -100px; }
    to   { margin-top: 0; }
}

@-ms-keyframes marginTo {
    from { margin-top: -100px; }
    to   { margin-top: 0; }
}

@-o-keyframes marginTo {
    from { margin-top: -100px; }
    to   { margin-top: 0; }
}