section.projects h2.header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block;
    position: relative;
    padding-bottom: 20px;
    margin-top: 40px;
    text-transform: uppercase;
    line-height: 55px
}

section.projects h2.header:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: #15A0CF;
    left: 50%;
    margin-left: -30%;
}


section.projects ul{
    -webkit-padding-start: 0;
    margin-top: 30px;
}

section.projects ul li{
    height: 300px;
    border: 5px solid white;
    /*border: 5px solid #777;*/
}

section.projects ul li.lets-meet{
    background: url('../img/lets_meet.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects ul li.bon-tourism{
    background: url('../img/bon-tourism.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects ul li.agridata{
    background: url('../img/agridata.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects ul li.fdt{
    background: url('../img/fdt.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects ul li.truckled{
    background: url('../img/truckled.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects ul li.ironnavi{
    background: url('../img/ironnavi.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects ul li.villacapri{
    background: url('../img/villacapri.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects ul li.nce{
    background: url('../img/nce.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects ul li.barmani{
    background: url('../img/barmani.png') no-repeat center;
    background-size: 400px 300px;
}

section.projects li div.desc{
    background-color: #15A0CF;
    height: 100%;
}

section.projects li{
    padding: 0;
    text-align: center;
}

section.projects li div.desc{
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    overflow: hidden;
}

section.projects li:hover div.desc{
    opacity: 1;
}


section.projects li h2{
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding-top: 60px;
}

section.projects li a{
    padding: 10px 20px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    width: 200px;
    color: white;
}

section.projects li div.desc{
    position: relative;
}

section.projects li div.desc:before{
    content: '';
    display: block;
    height: 1px;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 10%;
}

section.projects li div.desc:after{
    content: '';
    display: block;
    height: 1px;
    width: 80%;
    background-color: white;
    position: absolute;
    bottom: 20px;
    left: 10%;
}